[Unit]
Description=Docker Backup Service
Wants=docker_backup.timer
After=network.target

[Service]
Type=simple
ExecStart=/path/to/docker_backup.sh
User=root
WorkingDirectory=/path/to/
StandardOutput=append:/var/log/docker_backup.log
StandardError=append:/var/log/docker_backup.log

[Install]
WantedBy=multi-user.target